body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

.header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo-img {
    height: 100px;
    width: auto;
}

nav .btn {
    margin-left: 15px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    color: #f04e30;
    border: 1px solid #f04e30;
}

nav .signup {
    background-color: #f04e30;
    color: white;
}

.hero {
    display: flex;
    padding: 50px;
    background: #ddd;
    align-items: center;
    justify-content: space-between;
}

.hero .text {
    max-width: 50%;
}

.hero h1 {
    font-size: 28px;
}

.hero p {
    margin-top: 10px;
    font-size: 16px;
}

.cta-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #f04e30;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; 
    padding: 40px;
    height: 300px; 
}

.hero .image {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero .image img {
    height: 125%;
    width: auto;
    object-fit: contain;
}


.ads {
    background: #ffada4; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.slider-container {
    width: 100%;
    max-width: 800px;
    height: 450px;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

.slider video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    margin: 0;
    padding: 0;
    background: #000;
}

.slider video.active {
    display: block;
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
}

.slider-controls button {
    pointer-events: all;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
}


.footer {
    background: #ccc;
    text-align: center;
    padding: 30px;
    font-size: 18px;
    color: #f76e60;
}
